#box{
	border:1px solid green;
	width:200px;
	font:bold 40px tahoma;
	margin:50px auto;
	text-align:center;
	border-radius:10px;
	
	color:#fff;
	text-shadow:red 0px 0px 20px;
	
	background:linear-gradient(yellow,green);				/* normal */
	background::-webkit-linear-gradient(yellow,green);		/* chrome safari*/
	background::-moz-linear-gradient(yellow,green);			/* firefox*/
	background:-ms-linear-gradient(yellow,green);			/* ie*/
	background:-o-linear-gradient(yellow,green);			/* opera*/
	
	
	/* background:linear-gradient(yellow,green); */
	/* background:-webkit-linear-gradient(left, yellow 30%,green 50%,red 60%); */
	/* background-image:-webkit-linear-gradient(left,red,orange,yellow,green,blue) */
	/* background-image:-webkit-repeat-linear-gradient(left,red 20%,orange 30%,yellow 40%,green 50%,blue 60$) */
}

